In [33]:
import pandas as pd
import numpy as np

In [27]:
firms = pd.read_csv("firms.csv",sep=',',encoding='gbk')
firms.head()

,firms,city,country,potential_exp,investor_type
0,HSBC_Holdings,London,UK,1.000000e+09,British bank
1,Genevalor_Benbassat,Geneva,Switzerland,9.350000e+08,Swiss bank
2,Phoenix_Holdings,Giv'atayim,Israel,1.500000e+07,Israeli financial services company
3,Thema_Fund,Dublin,Ireland,1.100000e+09,Irish hedge fund
4,Herald_Lux_Fund,NaN,NaN,NaN,

In [28]:
firms.describe()

       potential_exp
count   5.000000e+01
mean    1.012034e+09
std     1.722986e+09
min     6.000000e+05
25%     3.275000e+07
50%     2.800000e+08
75%     1.000000e+09
max     7.500000e+09

In [31]:
firms[["firms",'city','country','investor_type']].describe()

              firms           city country investor_type
count            60             55      57            60
unique           60             27      18            43
top     Banco_Safra  New York City     USA
freq              1             10      18             4

In [37]:
firms.isna().sum()

firms             0
city              5
country           3
potential_exp    10
investor_type     0
dtype: int64

In [29]:
firms.dtypes

firms             object
city              object
country           object
potential_exp    float64
investor_type     object
dtype: object

In [25]:
firms['potential_exp'] = firms['potential_exp'].astype(float)

ValueError: could not convert string to float: ''